.navbar{
    background:#434C5E;
}
.nav-link , .navbar-brand{
    color: #f4f4f4; cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4; color: #f97300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler {
    background:#fff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}

.cards {
    margin-top: 10%;
}

.card {
    margin: 0;
    transition: all 0.3s linear;
}
.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
}


.search {
    margin-right: 15px;
    max-width: 200px;


}

.search-button {
    margin-left: 0;
}

.form-group {
    margin-bottom: 0 !important;
}

#inputState {
    border-radius: 10px;
    outline: none;
    max-width: 160px;
    width: 100%;
    padding-left: 5px;
}

.fa-bolt {
    margin-right: 2px;
}

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    transition: all 0.3s linear;
}
.cart:hover {
    background-color: khaki !important;
}

.sort-search {
    height: 40px;
}

.sort-search-wrapper {
    margin-left: 15px;
}

.navbar-nav {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-nav li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .list-of-cards {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
    .record {
        width: 50% !important;
    }

}

@media (min-width: 992px) {
    .record {
        width: 30% !important;
    }
}

@media (min-width: 1200px) {
    .record {
        width: 25% !important;
    }
}

