* {
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-family: sans-serif;
}
.navbar{
    background:#434C5E;
}
.nav-link , .navbar-brand{
    color: #f4f4f4; cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler {
    background:#fff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}

.cards {
    margin-top: 10%;
}

.card {
    margin: 0;
    transition: all 0.3s linear;
}
.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
}

.container-nav {
    flex-wrap: nowrap !important;
    z-index: 1000;
}
.sort-search {
    z-index: 5;
}

.container-nav select {
    font-size: 14px !important;
}


.input-search {
    max-width: 200px;
    padding: 3px !important;
    font-size: 14px !important;
}

.search-button {
    margin-left: 0;
}

.form-group {
    margin-bottom: 0 !important;
}

#inputState {
    border-radius: 10px;
    outline: none;
    max-width: 160px;
    width: 100%;
    padding-left: 5px;
}

.fa-bolt {
    margin-right: 2px;
}

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    transition: all 0.3s linear;
}
.cart:hover {
    background-color: khaki !important;
}

.sort-search {
    max-height: 40px;
}

.sort-search-wrapper {
    margin-left: 15px;
}

.navbar-nav {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-nav li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@media (min-width: 576px) {
    .list-of-cards {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
    .record {
        width: 50% !important;
    }
    .search {
        max-width: 100px;
        font-size: 12px;
    }
    .header-list li {
        margin: 0 10px;
    }

    .btn-history {
        font-size: 12px !important;
    }

}
.header-burger {
    display: none;
}

.header {
    z-index: 5 !important;
    height: 100%;
    max-height: 100px;

}
.container-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: #434C5E;
    z-index: 4 !important;
}

.logo {
    position: relative;
    z-index: 100;
}
.search-cart {
    z-index: 100;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}
.search-cart li {
    list-style: none;
    margin: 0 5px;
}

.header-menu {
    z-index: 100;
    max-height: 40px;
}

.header-list {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 100;
        float: right;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before {
        top:0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #006699;
        z-index: 1;
        max-height: 100%;
        padding: 70px 10px 20px 0;
        transition: all 0.3s ease 0s;
    }

    .container-nav:before {
        z-index: 100;
    }


    .header-list {
        display: block !important;
    }
    .header-list li {
        margin: 0 0 20px 0!important;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-menu.active {
        top:0;
    }




}

@media (min-width: 992px) {
    .record {
        width: 30% !important;
    }

    .header-list li {
        margin: 0 15px;
    }

    .btn-history {
        font-size: 14px !important;
    }
}

@media (min-width: 1200px) {
    .record {
        width: 25% !important;
    }
}



/*EXPERIMENTAL */

.container-nav {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list li {
    list-style: none;
    margin: 0 20px;
}